//Importación de archivo scss
@import "variables";
@import "media-querys";

//Definición de Mixins
@mixin prueba-caja($color){
    border-style: solid;
    border-color:$color;
    border-width: 5px;
}

@mixin margen-top-bottom($margen){
    margin-top: $margen;
    margin-bottom: $margen;
}


@mixin padding-interno($interno){
    padding-top: $interno;
    padding-bottom: $interno;
}

//Declaración de Placeholders
%visualizador{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

%visualizador-video-general{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center; 
}



//Definición de estilos
*{
    margin: 0; 
    padding: 0;  
}

   
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.espacio-subtitulos{
    text-align: center;
    @include margen-top-bottom(2%);
}

.social{
    position: fixed;
    left: 0;
    top: 400px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.8rem;
    padding: 2%;


    .menu{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        a{
            text-decoration: none;
            padding: 3%;
        }
    }
    a{
        text-decoration: none;
    }  
}

.logo-icon{
    width: 40px;
}

#slogan{
    background-image: url("https://fakeimg.pl/250x100/");
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

#material{
    margin-top: $margin-top-div;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 

    .visualizador-material{
        @extend %visualizador;
        @include padding-interno($padding-botton-top);
    
        .visualizador-video{
           @extend %visualizador-video-general;
        }
    }

 }

#visualizador-video-material{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    //@include prueba-caja(blue);
 }


 
#colaboraciones{
    margin-top: $margin-top-div;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .visualizador{
        @extend %visualizador;
        @include padding-interno($padding-botton-top);
    
        .visualizador-video{
           @extend %visualizador-video-general;
        }
        #visualizador-colleccion{
            width: 30%;
            overflow:scroll;
            display: flex;
            flex-direction: column;
            height: 70vh;
        
            div{
                height: 50px;
                padding: 5%;
            }
        }
    }
}


.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    width: 100%;
}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#frase{
    @include margen-top-bottom(5%);
    text-align: center;
}

footer{
    background-color: #6A827F;
}

#footer-info{
    width: 100vw;
    height: 30vh;
    display: flex;

    .footer-info-children{
        width: 30%;
        height: 30%;
        margin: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
}

#eventos{
    text-align: center;
}

footer > h2{
    text-align: center;
}




